<h2>{{t 'index.placeholder.heading'}}</h2>
<p>{{t 'index.placeholder.greeting'}}</p>
<ul>
  {{#each @model.addrs as |addr|}}
    <li><pre>{{addr.id}}{{#if addr.isLocal}} (local){{/if}}</pre></li>
  {{/each}}
</ul>

<LinkTo @route="api">{{t 'api.title'}}</LinkTo>
