/*
 * SPDX-FileCopyrightText: 2022 embr <git@liclac.eu>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later WITH LicenseRef-AppStore
 */

* {
  margin: 0;
}

body {
    font-family: sans-serif;
    background: #CFCFCF;
}

.content {
    padding: 1em 1em;
}

h2, p {
    padding-bottom: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table th, table td {
    padding: 12px;
    border: 1px solid #333;
    text-align: left;
    width: 50%; /* Each column gets 50% of the table width */
}

/* Apply a light grey background to every even row for a striped look */
table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.navbar {
    display: flex;
    flex-direction: horizontal;
    font-size: 1.5em;
    background: #2f556b;
    padding: 1em;
}

.navbar > a {
    padding: 0em 0.25em;
    color: #CFCFCF;
}

.navbar > a:hover {
    color: #FFFFFF;
}

.addrs-table td {
    border: 10px solid black;
    padding: 1em;
}
