:root {
	font-family: Roboto, Arial, Helvetica, sans-serif;

	/* colors */
	--c-main-bg: #ffffff;
	--c-main-bg-highlite: #d0e3f0;
	--c-main-txt: #333333;
	--c-main-a: #000000;
	--c-main-border: #333333;
	--c-blue-bg: #0089c7;
	--c-blue-bg-highlite: #1577ad;
	--c-blue-txt: #eeeeee;
	--c-blue-a: #ffffff;
	--c-blue-border: #ffffff;
	--c-bright-bg: #d0e3f0;
	--c-bright-bg-highlite: ;
	--c-bright-txt: #444444;
	--c-bright-a: #000000;
	--c-grey-bg: #ececec;
	--c-grey-bg-highlite:#ececec;
	--c-grey-txt: #f6f6f6;
	--c-dark-bg: #333333;
	--c-dark-bg-highlite: #222222;
	--c-dark-txt: #aaaaaa;
	--c-dark-a: #ffffff;

	--c-footer-bg: #222222;
	--c-footer-txt:#aaa;
	--c-footer-a:  #dddddd;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* general backgrounds */
.main {
	background-color: var(--c-main-bg);
	color: var(--c-main-txt);
}
.main a {
	color: var(--c-main-a);
}
.dark {
	background-color: var(--c-dark-bg);
	color: var(--c-dark-txt);
}
.dark a {
	color: var(--c-dark-a);
}
.blue {
	background-color: var(--c-blue-bg);
	color: var(--c-blue-txt);
}
.blue a {
	color: var(--c-blue-a);
}
.bright {
	background-color: var(--c-bright-bg);
	color: var(--c-bright-txt);
}
.bright a {
	color: --c-bright-
}


/* navigation */
nav ul {
	list-style: none;
	padding:0;
	margin:0;
}
nav li {
	padding-bottom: 0.5rem;
}

/* tab navigation */
nav.main li {
	margin: 0;
	padding: 0;
}
nav.main {
	display: flex;
	flex-flow: row;
	background-color: var(--c-blue-bg);
	align-items: stretch;
}
nav.main div {
	padding:0;
	margin:0;
}
nav.main ul {
	display: flex;
	justify-content: flex-end;
	flex-flow: row;
	margin:0;
	padding:0;
}
nav.main ul li {
	white-space: nowrap;
}
nav.main .inline-svg.language {
	width: 2.3rem;
	top: -0.25rem;
}
nav.main .inline-svg.angle-down {
	top: -0.25rem;
	width: 1rem;
}
nav.main .languages ul {
	background-color: var(--c-blue-bg);
	flex-direction: column;
	position: absolute;
	z-index: 10;
	border: 1px solid var(--c-blue-border);
}
#nav-lang.hide {
	display: none;
}

nav.main a {
	color: var(--c-blue-txt);
	font-weight: bold;
	display: block;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top:0.5rem;
	padding-bottom: 0;
	height: 2rem;
	/*vertical-align: middle;*/
}
nav.main a:hover{
	text-decoration: none;
	background-color: var(--c-blue-bg-highlite);
}
nav.main a.active {
	background-color: var(--c-blue-bg-highlite);
}
nav.main a.active:hover {
	background-color: var(--c-blue-bg-highlite);
}
nav.main a.logo {
	font-weight: bold;
	padding-left: 1rem;
	padding-right: 1rem;
	white-space: nowrap;
	display: inline-block;
	/*color: transparent;
	background: url(logo.svg);
	background-size: 100px 82px;*/
}
nav.main a.icons {
	padding-left:0.5rem;
	padding-right: 0.5rem;
}
nav.main a.toggle {
	float: right;
	display: none;
}
nav.main .languages ul a {
	height: auto;
	padding-bottom: 0.35rem;
	padding-top: 0.35rem;
}
nav.main .languages ul a:hover {
	background-color: var(--c-dark-bg-highlite);
}


@media only screen and (max-width: 768px) {
	nav.main {
		flex-flow: column;
	}
	#nav-top.hide {
		display: none;
	}
	nav.main a.toggle {
		display: block;
	}
}
  
@media only screen and (max-width: 600px) {
	nav.main ul {
		flex-flow: column wrap;
	}

	nav.main #nav-top a {
		text-align: center;
		border-top: 1px solid rgba(255,255,255,0.3); 
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	nav.main .languages ul {
		display: block;
		position: static;
		border-width: 0;
	}

	nav.main #nav-top .languages a {
		background-color: var(--c-dark-bg);
	}
	nav.main #nav-top .languages ul a {
		padding-top:0.5rem;
		padding-bottom: 0.5rem;	
	}
	nav.main #nav-top .languages ul a:hover {
		background-color: var(--c-dark-bg-highlite);
	}

	.navigation li:last-of-type a {
		border-bottom: none;
	}
}

/* footer */
footer {
	padding: 1rem;
	background-color: var(--c-footer-bg);
	color: var(--c-footer-txt);
	box-shadow: 0 0 1rem 0 var(--c-footer-bg);
}
footer nav {
	display: flex;
	align-items: flex-start;
	flex-flow: row wrap;
	justify-content: space-around
}

footer a {
	color: var(--c-footer-a);
}
footer a.cc-license span.inline-svg {
    height: 2rem;
    width: 2rem;
}
footer h5 {
	font-size: 1.15rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}



/* main area */


/* index page */
#description {
	text-align: center;
	padding-top: 56.25%;
	position: relative;
	background-image: url('/img/qaul-logo-white.svg');
	background-position: 25vw 0vw;
	background-repeat: no-repeat;
}
#description div.logo {
	position: absolute;
	width: 100%;
	top: 20%;
	font-size: 4vw;
}
#description h1 {
	position: absolute;
	top: 40%;
	left: 0;
	bottom: 0;
	right: 0;
	font-size: 5vw;
	padding: 4%;
	margin:0;
}
#mesh {
	padding: 5%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
#mesh div p {
	padding-left: 2rem;
}
#mesh img {
	max-width: 100%;
}

#features {
	padding: 5%;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
#features h2 {
	width: 100%;
	padding-bottom: 4rem;
}
#features .feature {
	font-size: 1.5rem;
	padding-bottom: 2rem;
}
#features .feature p {
	max-width: 20rem;
	padding: 1rem;
	margin: auto;
}
#features .inline-svg {
	width: 5rem;
}
#features .inline-svg.copy {
	width: 4rem;
}
#features .inline-svg.phone-volume {
	width: 3.5rem;
}

#screenshots {
	text-align: center;
	padding: 3%;
}
#screenshots img {
	max-width: 100%;
}

#download {
	padding: 5%;
	background-color: var(--c-blue-bg);
	color: var(--c-blue-txt);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
#download h2 {
	font-size: 2rem;
	margin-bottom:0;
	margin-top: 3rem;
}
#download .title {
	width: 100%;
	margin: 2rem;
	padding: 1rem;
	background-color: var(--c-blue-bg-highlite);
	border-radius: 1rem;
	color: var(--c-blue-txt);
	display: flex;
}
#download .title .inline-svg {
	width: 2rem;
	padding-right: 1rem;
}
#download .distro {
	text-align: center;
	margin-bottom: 2rem;
}
#download .distro a {
	color: var(--c-blue-txt);
	font-weight: bold;
}
#download .distro a:hover {
	text-shadow: 0px 5px 5px var(--c-blue-bg-highlite);
	text-decoration: none;
}
#download .distro a .inline-svg {
	width: 7rem;
	height: 7rem;
	border-radius: 3.5rem;
	background-color: var(--c-blue-txt);
	color: var(--c-blue-bg);
	display: block;
	margin: auto;
	margin-bottom: 1rem;
}
#download .distro a .inline-svg.ubuntu {
	background-color: transparent;
	color: var(--c-blue-txt);
}
#download .distro a .inline-svg.ubuntu svg {
	width: 7rem;
	margin-top: 0;
}
#download .distro a .inline-svg.windows svg {
	width: 3.5rem;
	margin-top: 1.5rem;
}
#download .distro a .inline-svg.apple svg {
	width: 3.5rem;
}
#download .distro svg {
	width: 4.5rem;
	margin-top: 1rem;
}

#participation nav {
	background-color: var(--c-dark-bg);
	color: var(--c-dark-txt);
	display: flex;
	padding-top: 3rem;
	padding-bottom: 3rem;
	flex-flow: row wrap;
	justify-content: center;
}
#participation nav a {
	color: #ffffff;
}
#participation div {
	margin-bottom: 2rem;
	flex: flex-shrink;
}
#participation div h3, 
#participation div ul {
	padding-left: 3rem;
	max-width: 20rem;
	margin: auto;
}
#participation div h3 {
	color: #ffffff;
	margin-bottom: 1.5rem;
}
#participation div h3 .inline-svg {
	width: 4rem;
}
#participation div h3 .inline-svg.laptop-code {
	width: 5rem;
}
#participation ul .inline-svg {
	display: inline-block;
	width: 1.15rem;
}

#participation nav ul li {
	height: auto;
}

/* single page */
h1.top {
	background-color: var(--c-blue-bg);
	color: var(--c-blue-txt);
	margin: 0;
	padding: 2rem;
	text-align: center;
}

.page {
	margin: 0;
}
.page article {
	padding: 1rem 1rem 3rem 1rem;
	max-width: 50rem;
	margin: auto;
}
.page img, .page video {
	max-width: 100%;
}


/* tags */
.taxonomy {
	text-align: center;
	padding: 1rem;
}
.taxonomy li {
	display: inline-block;
}
.taxonomy a {
	display: block;
	padding: 0 0.8rem 0.2rem 0.8rem;
	border-radius: 1rem;
	background-color: var(--c-blue-bg);
}
.taxonomy a:hover {
	background-color: var(--c-blue-bg-highlite);
	text-decoration: none;
}
h1 .tag {
	display: inline-block;
	border: 1px solid var(--c-blue-txt);
	padding: 0 0.8em 0.1em 0.8em;
	border-radius: 1em;
}


/* tutorials */
.tutorials {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	max-width: 1600px;
}
.tutorials .preview {
	margin: 0;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0;
}
.tutorials .visual {
	width: 100%;
	padding-top: 56.25%;
	background-image: linear-gradient(to bottom right, var(--c-bright-bg), var(--c-blue-bg));
	background-size: cover;
	background-position: center center;
}