{{ define "main" }}
{{ with .Site.GetPage "page" "home/main" }}
<main id="main" class="home">
  <header>
    <h1><span lang="arb">قول</span> qaul.net</h1>

    <div>
      <p>In 2018, governments in at least 25 countries shut down the
      internet at least 196 times.</p>
      <p><strong>Be prepared.</strong></p>
      <p><a href="#">Install qaul.net</a></p>
    </div>
  </header>

  {{ end }}

  {{ with .Site.GetPage "home/mesh" }}
  <section>
    <h2>What is qaul.net?</h2>

    <div>
      <p class="image">
	<img src="/home/qaul-mesh.svg" alt="" width="400" height="178">
      </p>

      <p> {{ .Params.Description | markdownify }} </p>
    </div>

    <br />
    <h2>A decentralised world</h2>

    <p> {{ .Params.Decentralisation | markdownify }} </p>
  </section>
  {{ end }}

  {{ with .Site.GetPage "home/features" }}
  <section class="features boxed">
    <h2>Features</h2>
    <div>
      <section>
        <h3>{{ .Params.TextMessaging }}</h3>
        <p>{{ .Params.TextMessagingDetails }}</p>
      </section>
      <section>
        <h3>{{ .Params.FileSharing }}</h3>
        <p>{{ .Params.FileSharingDetails }}</p>
      </section>
    </div>
    <div>
      <section>
        <h3>{{ .Params.VoiceChat }}</h3>
        <p>{{ .Params.VoiceChatDetails }}</p>
      </section>
      <section>
        <h3>{{ .Params.UserDiscovery }}</h3>
        <p>{{ .Params.UserDiscoveryDetails }}</p>
      </section>
    </div>
    <div>
      <section>
        <h3>{{ .Params.DelTol }}</h3>
        <p>{{ .Params.DelTolDetails }}</p>
      </section>
      <section>
        <h3>{{ .Params.AccRecover }}</h3>
        <p>{{ .Params.AccRecoverDetails }}</p>
      </section>
    </div>
  </section>
  {{ end }}

  {{ with .Site.GetPage "home/download" }}
  <section class="downloads boxed" id="download">
    <h2>{{ .Title }}</h2>
    <p>{{ .Params.Sorry }}</p>
    <div>
      <section>
        
      </section>
    </div>
  </section>
  {{ end }}
  
</main>
{{ end }}
