
{{ define "main" }}
<section id="description" class="blue">
    <div class="logo">qaul.net – قول</div>
    <h1>Internet Independent Wireless Mesh Communication</h1>
</section>
<section id="mesh" class="dark">
    <div class="l8 m8 s12 box">
        <img src="/img/qaul-mesh.svg">
    </div>
    <div class="l4 m4 box">
        <p>qaul.net is a communication tool that makes information exchange possible via direct peer-to-peer local communication while providing all the basic communication necessities in one single application (voice chat, text messaging, file sharing). </p>
    </div>
</section>
<section id="features" class="blue">
    <h2>Features</h2>
    <div class="feature s6 m4 box">
        {{ partial "fontawesome.html" "comments" }}
        <p>Text Messaging</p>
    </div>
    <div class="feature s6 m4 box">
        {{ partial "fontawesome.html" "copy" }}
        <p>File Sharing</p>
    </div>
    <div class="feature s6 m4 box">
        {{ partial "fontawesome.html" "phone-volume" }}
        <p>Voice Chat</p>
    </div>
    <div class="feature s6 m4 box">
        {{ partial "fontawesome.html" "users" }}
        <p>User Discovery</p>
    </div>
    <div class="feature s6 m4 box">
        {{ partial "fontawesome.html" "wifi" }}
        <p>Wireless Peer to Peer off the Grid Communication</p>
    </div>
    <div class="feature s6 m4 box">
        {{ partial "fontawesome.html" "language" }}
        <p>Multilingual Interface</p>
    </div>
</section>
<section id="screenshots" class="dark">
    <img src="/img/qaul-GUI.png">
</section>
<section id="download" class="blue">
    <h2>Download</h2>
    <div class="s12">
        <p>We are rewriting qaul.net at the moment. 
            Until we are ready, you can download the 1.0 legacy app.</p>
    </div>
    <div class="distro m3 s6 box">
        <a href="https://get.qaul.net/legacy/qaul.net-fat_1.0.0-beta5_x86_64_05022016.deb">
        {{ partial "fontawesome.html" "ubuntu" }}
        Ubuntu 18.04 LTS
        </a>
    </div>
    <div class="distro m3 s6 box">
        <a href="https://get.qaul.net/legacy/qaul.net-fat_1.0.0-beta5_win32_05022016.exe">
        {{ partial "fontawesome.html" "windows" }}
        Windows 7-10
        </a>
    </div>
    <div class="distro m3 s6 box">
        <a href="https://get.qaul.net/legacy/qaul.net-fat_1.0.0-beta5_OSX_05022016.dmg">
        {{ partial "fontawesome.html" "apple" }}
        OSX
        </a>
    </div>
    <div class="distro m3 s6 box">
        <a href="https://get.qaul.net/legacy/qaul.net-fat_1.0.0-beta5_android_05022016.apk">
        {{ partial "fontawesome.html" "android" }}
        Android</a><br/> 
        (<a href="https://github.com/qaul/qaul.net/blob/release-1.0.0/doc/Android_Devices.md" target="_blank">See compatibility list</a>)
    </div>            
</section>
<section id="participation" class="dark">
    <nav>
    <div class="s6 m4 box">
        <h3>{{ partial "fontawesome.html" "book-reader" }}</h3>
        <ul>
            <li><a href="{{ "tutorials" | relURL }}">
                {{ partial "fontawesome.html" "chalkboard-teacher" }}
                Tutorials</a></li>
            <li><a href="https://docs.qaul.net">
                {{ partial "fontawesome.html" "book" }}
                Developer Guide</a></li>
            <!--<li><a href="https://lists.qaul.net" target="_blank">
                {{ partial "fontawesome.html" "mail-bulk" }}
                Mailinglists</a></li>-->
            <li><a href="https://webchat.freenode.net/#qaul.net" target="_blank"></a>
                {{ partial "fontawesome.html" "comments" }} 
                IRC: #qaul.net on freenode</a></li>
        </ul>
    </div>
    <div class="s6 box">
        <h3>{{ partial "fontawesome.html" "laptop-code" }}</h3>
        <ul>
            <li><a href="https://github.com/qaul/qaul.net" target="_blank">
                {{ partial "fontawesome.html" "github" }} 
                App repository</a></li>
            <li><a href="https://github.com/qaul/qaul-website" target="_blank">
                {{ partial "fontawesome.html" "github" }}
                Web site repository</a></li>
            <li><a href="https://github.com/qaul/qaul.net/issues" target="_blank">
                {{ partial "fontawesome.html" "bug" }}
                Bug report</a></li>
        </ul>
    </div>
<!--
    <div class="">
        {{ partial "fontawesome.html" "globe" }}
        <ul>
            <li><a href="#">
                Translate this web site</a></li>
        </ul>
    </div>
 -->
    </nav>
</section>
{{ end }}