<h2>Currently known addresses</h2>
<p>ratmand keeps track of any address it has encountered on the network before. Following is a list of them. Further diagnostics tools will follow!</p>
<ul>
  {{#each @model.addrs as |addr|}}
    <li><pre>{{addr.id}}{{#if addr.isLocal}} (local){{/if}}</pre></li>
  {{/each}}
</ul>
