<footer>
    <div class="page">
    <nav>
        <div class="box l4 m4 s6">
            <h5>{{ i18n "QaulNetCommunity" }}</h5>
            <ul>
                <li><a href="https://git.open-communication.net/qaul/qaul.net" target="_blank">
                    {{ partial "fontawesome.html" "git-square" }} 
                    {{ i18n "QaulNetRepository" }}</a></li>
                <li><a href="https://lists.sr.ht/%7Eqaul/community" target="_blank">
                    {{ partial "fontawesome.html" "envelope-open-text" }}
                    {{ i18n "CommunityMailinglist" }}</a></li>
                <li><a href="https://lists.sr.ht/%7Eqaul/announcements" target="_blank">
                    {{ partial "fontawesome.html" "bullhorn" }}
                    {{ i18n "AnnouncementMailinglist" }}</a></li>
                <li><a href="mailto:contact@qaul.net">
                    {{ partial "fontawesome.html" "envelope" }}
                    contact@qaul.net</a></li>
                <li><a href="{{ "legal/privacy" | relLangURL }}">{{ i18n "Privacy" }}</a></li>
                <li><a href="{{ "legal/code-of-conduct" | relLangURL }}">{{ i18n "CodeOfConduct" }}</a></li>
                <li><a href="{{ "about" | relLangURL }}">{{ i18n "AboutQaulNet" }}</a></li>
            </ul>
        </div>
        <div class="box l2 m2 s4">
            <h5>{{ i18n "Pages" }}</h5>
            <ul>
                <li><a href="{{ relLangURL "/" }}#download">{{ i18n "Download" }}</a></li>
                <li><a href="{{ relLangURL "/" }}#features">{{ i18n "Features" }}</a></li>
                <li><a href="{{ relLangURL "tutorials" }}">{{ i18n "Tutorials" }}</a></li>
                <li><a href="{{ relLangURL "documentation" }}">{{ i18n "Documentation" }}</a></li>
                <li><a href="{{ relLangURL "/" }}#participation">{{ i18n "Participate" }}</a></li>
            </ul>
        </div>
        <div class="box l2 m2 s4">
            <h5>{{ i18n "Languages" }}</h5>
            <ul class="languages">
                {{ range $.Site.Home.AllTranslations }}
                <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                {{ end }}
            </ul>
        </div>
        <div class="box l4 m4 s6">
            <p>
                <a href="{{ "legal/cc-by" | relLangURL }}"
                    style="text-decoration: none;" class="cc-license">
                    {{ partial "fontawesome.html" "creative-commons" }}
                    {{ partial "fontawesome.html" "creative-commons-by" }}
                </a>
            </p>
            <p>
                {{ i18n "LicenseNotice" | markdownify }}
            </p>
            <p>
                {{ i18n "CopyAndDistribute" }}
            </p>
        </div>
    </nav>
    </div>
</footer>
